:root {
    --color1: white;
    --nav-text-color: black;


}

* {
    margin: 0;
}

#header-img {
    width: 60px;
    object-fit: contain;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--color1);
    
}

.nav-links {
    display: flex;
    list-style: none;

}

.nav-links a {
    text-decoration: none;
    color: var(--nav-text-color);
    padding: 0 10px;

}

.logo {
    display: flex;
    align-items: center ;
}

.product-name { 
    font-size: 25px;
    margin-left: 10px;
    font-weight: 700;
}


#email-section { 
    margin-top: 100px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid green;
}

#submit {
    background-color: green;
    color: var(--color1);
    cursor: pointer;

}

section::before {
    display: block;
    content: " ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;

}

section {
    margin: 40px 20px;
    text-align: center;

}


h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

.icon {
    color: green;
    margin-right: 40px;
}


#features {
    text-align: left;
    max-width: 800px;
    margin: auto;

}

.features {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#video {
    width: 100%;
}